#map {
	width:  100%;
	height:  580px;
}

.popup-name {
	font-size: 1.2em;
	font-weight: 700;
	line-height: 1.2;
}

.bio p, .leaflet-popup-content p{
	width:  150px;
	margin:  0;
	padding: 0;
}

.pic {
	object-fit: cover;
	width: 100%;
	height: 150px;
}